<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products Market</title>
</head>
<body>
<h1>Main Page</h1>

<form>
    <input type="button" value="Add new Product" onclick='location.href="/market/test/new_product"'/>
</form>

<form>
    <input type="button" value="Fine Product with id" onclick='location.href="/market/test/finedById/0"'/>
</form>

<form>
    <input type="button" value="Show all Products" onclick='location.href="/market/test/finedAll"'/>
</form>

<!--<form>-->
<!--    <input type="button" value="Show all Products" onclick='location.href="/market/test/registeer"'/>-->
<!--</form>-->

</body>
</html>